<footer class="md-footer">
  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">
      <div class="custom-footer">
        <a href="https://portal.crewxr.ai/" target="_blank" rel="noopener">Visit the CrewXR App</a>
        <p>Copyright &copy; 2026 CrewXR. All rights reserved.</p>
        <nav class="custom-footer__links">
          <a href="#">Privacy Policy</a>
          <span>&middot;</span>
          <a href="#">Terms of Service</a>
        </nav>
      </div>
    </div>
  </div>
</footer>
